{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
  <h1>Ehdokkaat äänestykseen {{aanestys.nimi}}</h1>
{% if {{user_logged_in.nimi}} == {{aanestys.yllapitaja}} %}
  <p>
    <a href="{{base.path}}/ehdokas/uusi" class="btn btn-success">Lisää ehdokas</a>
  </p>
  {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Ehdokas</th>
        <th>Aloitusvuosi</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan ehdokkaat tähän -->
      {% for ehdokas in ehdokkaat %}
      <tr>
        <td>{{Pelaaja::etsi({{ehdokas.pelaaja_id}}).nimi}}</td>
        <td>{{Pelaaja::etsi({{ehdokas.pelaaja_id}}).aloitusvuosi}}</td>
        {% if {{user_logged_in.nimi}} = {{aanestys.yllapitaja}} %}
         <th><a <form method="post" action ="{{base_path}}/aanestys/{{ehdokas.aanestys_id}}/ehdokas/{{ehdokas.id}}/destroy" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger">Poista</button>
                    </form>
                </a></th>
                {% else %}
                 <th><a <form method="post" action ="{{base.path}}/aanestys/{{ehdokas.aanestys_id}}/{{ehdokas.id}}/aani" style="display: inline-block;">
                        <button type="submit" class="btn btn-danger">Äänestä</button>
                    </form>
                </a></th>
                {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
