<{% extends "base.html" %}
{% block content %}
{% if {{user_logged_in.nimi}} = aanestys.yllapitaja %}
<h1>Lisää ehdokkaat äänestykseen {{aanestys.nimi}}</h1>

{% if errors %}
<div class="alert alert-danger">
    <ul>
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/ehdokas/uusi">
    <div class="form-group">
       <label>Pelaajat</label>
       <select class="form-control" name="ehdokkaat[]" multiple="">
       {% for pelaaja in pelaajat %}
       <option value="{{pelaaja_id}}">{{pelaaja.nimi}}</option>
       {% endfor %}
       </select> 
        <button type="submit" class="btn btn-primary">Lisää ehdokkaat</button>
    </div>
</form>
{% else %}
<h1>Et ole ylläpitäjä, joten et voi lisätä ehdokkaita</h1>
{% endif %}
{% endblock %}
