{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<h1>Pelaaja {{user_logged_in.nimi}}</h1>
<!-- Painikkeet tähän -->
<p>
  <a href="{{base_path}}/pelaaja/{{pelaaja.id}}/edit" class="btn btn-default">Muokkaa</a>
  <a href="{{base_path}}/pelaaja/{{pelaaja.id}}/destroy" class="btn btn-danger">Poista</a>

</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Aloitusvuosi:</strong> {{pelaaja.aloitusvuosi}}</li> 
</ul>
{% endblock %}