{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
<h1>Pelaaja {{user_logged_in.nimi}}</h1>
<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="{{base_path}}/pelaaja/{{pelaaja.id}}/edit" class="btn btn-default">Muokkaa</a>

    <a href="#" class="btn btn-default">Äänestyshistoria</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Aloitusvuosi:</strong> {{pelaaja.aloitusvuosi}}</li>
    <li><strong>Voitetut äänestykset: </strong>tähän voitot</li>
    
</ul>
{% endblock %}