{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>{{aanestys.nimi}}</h1>
<!-- Painikkeet tähän -->
<p>
{% if aanestys.status %}
    <a href="{{base_path}}/aanestys/{{aanestys.id}}/edit" class="btn btn-default">Muokkaa</a>

    <a href="{{base_path}}/aanestys/{{aanestys.id}}/ehdokas_list" class="btn btn-default">Ehdokkaat</a>

{% else %}
	<a href="{{base_path}}/aanestys/{{aanestys.id}}/tulokset" class="btn-default">Tulokset</a>
{% endif %}    
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Ylläpitäjä:</strong> {{aanestys.yllapitaja}}</li>
    <li><strong>Status:</strong> {{aanestys.status}}</li>
    <li><strong>Lisäyspäivä:</strong> {{aanestys.julkaistu}}</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
    {{aanestys.kuvaus}}
</p>
{% endblock %}
