{% extends "base.html" %}
{% block content %}
{% if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}
{% import "macros/forms.html" as forms %}
<h1>Äänestykset</h1>

<p>
    <a href="{{base_path}}/aanestys/uusi" class="btn btn-success">Lisää äänestys</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Äänestys</th>
            <th>Status</th>
            <th>Ylläpitäjä</th>
            <th>Kuvaus</th>
            <th>Julkaistu</th>
            <th>Äänestä</th>
        </tr>
    </thead>

    <tbody>
        {% for aanestys in aanestykset %}
        <!-- Listataan äänestykset tähän -->
        <tr>
            <td><a href="{{base_path}}/aanestys/{{aanestys.id}}">{{aanestys.nimi}}</a></td>
            <td>
            {% if aanetys.status %}
            <label class="label label-succes">Käynnissä
            {% else %}
            <label class="label label-danger">Äänestys on ohi
            {% endif %}
            </td>
            <td>{{aanestys.yllapitaja}}</td>
            <td>{{aanestys.kuvaus}}</td>
            <td>{{aanestys.julkaistu}}</td>
            <!-- jos äänestys on käynnissä, näytetään seuraavat-->
            {% if aanestys.status %}
            <td><a href="{{base_path}}/aanestys/{{aanestys.id}}/ehdokkaat">Mene äänestykseen</a></td>
            {{forms.edit_button("#{base_path}/aanestys/#{aanestys.id}/edit")}}
            {{forms.destroy_button("#{base_path}/aanestys/#{aanestys.id}/destroy")}}
            <!-- jos äänestys on ohi, näytetään seuraavat-->
             {% else %}
             <td><a href="{{base_path}}/aanestys/{{aanestys.id}}/tulokset">Tulokset</a></td>
              {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
